main article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
main article header {
  width: 120rem;
  height: 45rem;
  border-radius: 2.5rem;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main article header p {
  margin-top: 5rem;
  font-size: 1.5rem;
}
main article header h2 {
  font-size: 4rem;
}
main article header input {
  width: 45rem;
  height: 45rem;
}
main article header button {
  height: 5rem;
  width: 10rem;
}
main article header ul {
  margin-top: 1rem;
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
main article header ul .icon-label {
  margin-top: 1rem;
}
main article .popular-articles,
main article .topic-one-articles,
main article .topic-two-articles,
main article .topic-three-articles {
  display: flex;
  flex-wrap: wrap;
  width: 120rem;
}
main article .popular-articles section,
main article .topic-one-articles section,
main article .topic-two-articles section,
main article .topic-three-articles section {
  width: 28.33%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main article .popular-articles section img,
main article .topic-one-articles section img,
main article .topic-two-articles section img,
main article .topic-three-articles section img {
  margin-top: 2rem;
  border-radius: 2.5rem;
}
main article .popular-articles section h4,
main article .topic-one-articles section h4,
main article .topic-two-articles section h4,
main article .topic-three-articles section h4 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
main article .popular-articles section p,
main article .topic-one-articles section p,
main article .topic-two-articles section p,
main article .topic-three-articles section p {
  margin-top: 2rem;
}
main article h3:first-of-type {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  margin-left: 2.5%;
  margin-top: 6rem;
}
main article aside {
  width: 100%;
  height: 20rem;
  background-color: lightgray;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main article aside .outer-container {
  width: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main article aside .left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main article aside .right-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "IBM Plex Mono", "monospace", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #242840;
  scroll-behavior: smooth;
}
body a,
body p {
  font-size: 1.6rem;
}
header.h-nav-toolbar {
  height: 8vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-color: #242840;
  border-top: 1px dashed #9ac5c9;
  border-bottom: 1px dashed #9ac5c9;
}
header.h-nav-toolbar h1 {
  width: 28%;
  text-decoration: none;
  color: #f649a7;
  text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
  font-weight: bold;
  font-size: 3.2rem;
  margin-left: 5%;
}
header.h-nav-toolbar nav.h-nav-links {
  width: 33%;
  display: flex;
  justify-content: center;
}
header.h-nav-toolbar nav.h-nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f649a7;
  text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
  font-weight: bold;
  border-left: 1px dashed #9ac5c9;
  height: 8vh;
  width: 100px;
}
@media (max-width: 1200px) {
  header.h-nav-toolbar nav.h-nav-links a {
    width: auto;
    padding: 0 20px 0 20px;
  }
}
header.h-nav-toolbar nav.h-nav-links a:last-of-type {
  border-right: 1px dashed #9ac5c9;
}
header.h-nav-toolbar nav.h-social-links {
  width: 28%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1200px) {
  header.h-nav-toolbar nav.h-social-links {
    display: none;
  }
}
header.h-nav-toolbar nav.h-social-links a {
  text-decoration: none;
  color: #f649a7;
  text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
  font-weight: bold;
  padding-left: 20px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.above-fold-intro-container {
  height: 91vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  display: flex;
}
@media (max-width: 1200px) {
  .above-fold-intro-container {
    flex-direction: column;
  }
}
.above-fold-intro-container .left-wrapper {
  width: 100%;
}
.above-fold-intro-container .af-left-cont-upper-lower {
  width: 100%;
  height: 13%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: flex;
  align-items: center;
}
.above-fold-intro-container .af-left-cont-upper-lower p {
  font-size: 3rem;
  font-style: italic;
  color: #9ac6c9;
  margin-left: 7.5%;
}
.above-fold-intro-container .af-left-cont-main {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.above-fold-intro-container .af-left-cont-main .text-container,
.above-fold-intro-container .af-left-cont-main .shapes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 2.5%;
}
.above-fold-intro-container .af-left-cont-main .text-container {
  position: absolute;
  z-index: 1;
}
@media (max-width: 1200px) {
  .above-fold-intro-container .af-left-cont-main .text-container {
    position: relative;
    margin-bottom: 60px;
    width: 100%;
    margin: 0 0 90px 0;
  }
}
.above-fold-intro-container .af-left-cont-main .shapes-container {
  position: absolute;
  z-index: 0;
}
@media (max-width: 1200px) {
  .above-fold-intro-container .af-left-cont-main .shapes-container {
    display: none;
  }
}
.above-fold-intro-container .af-left-cont-main .chris-container,
.above-fold-intro-container .af-left-cont-main .jones-container {
  display: flex;
  justify-content: space-between;
  height: 20rem;
}
@media (max-width: 1200px) {
  .above-fold-intro-container .af-left-cont-main .chris-container,
  .above-fold-intro-container .af-left-cont-main .jones-container {
    width: 100%;
    height: 15rem;
  }
}
.above-fold-intro-container .af-left-cont-main .chris,
.above-fold-intro-container .af-left-cont-main .jones {
  color: #f649a7;
  font-size: 12rem;
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 1200px) {
  .above-fold-intro-container .af-left-cont-main .chris,
  .above-fold-intro-container .af-left-cont-main .jones {
    width: 20%;
  }
}
.above-fold-intro-container .af-left-cont-main .letter-c,
.above-fold-intro-container .af-left-cont-main .letter-h,
.above-fold-intro-container .af-left-cont-main .letter-r,
.above-fold-intro-container .af-left-cont-main .letter-i,
.above-fold-intro-container .af-left-cont-main .letter-j,
.above-fold-intro-container .af-left-cont-main .letter-o,
.above-fold-intro-container .af-left-cont-main .letter-n,
.above-fold-intro-container .af-left-cont-main .letter-e,
.above-fold-intro-container .af-left-cont-main .letter-s.chris {
  text-shadow: 8px 8px 0 #3c52d1;
}
.above-fold-intro-container .af-left-cont-main .letter-s.jones {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 40 40" xml:space="preserve" height="8px" width="8px"><g ><circle r="12" cx="12" cy="12" fill="%23EC2F95"/></g></svg>');
  color: transparent;
  -webkit-background-clip: text;
}
@media (max-width: 1200px) {
  .above-fold-intro-container .af-left-cont-main .letter-s.jones {
    color: #f649a7;
    text-shadow: 8px 8px 0 #3c52d1;
  }
}
.above-fold-intro-container .af-left-cont-main .circle {
  border: 10px dashed #3c51d1;
  border-radius: 50%;
}
.above-fold-intro-container .af-left-cont-main .square {
  border: 10px solid #3c51d1;
  box-shadow: 10px 10px 0 0px #9ac6c9;
}
.above-fold-intro-container .af-left-cont-main .blob-one,
.above-fold-intro-container .af-left-cont-main .blob-two {
  background-color: #9ac6c9;
  border-radius: 33%;
  position: relative;
}
.above-fold-intro-container .af-left-cont-main .blob-three {
  position: relative;
  left: -200px;
  top: 125px;
  background-color: #9ac6c9;
}
.above-fold-intro-container .af-right-cont {
  height: 66%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.5%;
  margin-top: 2.55%;
  margin-bottom: 2.5%;
}
@media (max-width: 1200px) {
  .above-fold-intro-container .af-right-cont {
    display: none;
  }
}
.above-fold-intro-container .af-right-cont img {
  height: 75%;
  border-radius: 50%;
  z-index: -1;
}
.about-container {
  width: 1400px;
}
@media (max-width: 1200px) {
  .about-container {
    width: 95%;
    margin: 0 2.5% 0 2.5%;
  }
}
.about-container h2 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0 5% 20px 5%;
  color: #9ac6c9;
  text-shadow: 0 2px 5px rgba(246, 73, 167, 0.6);
}
.about-container p {
  font-size: 1.7rem;
  margin: 0 5% 20px 5%;
  color: #9ac6c9;
  line-height: 1.8;
  margin-bottom: 80px;
}
.all-projects-container {
  width: 1400px;
}
@media (max-width: 1200px) {
  .all-projects-container {
    width: 95%;
    margin: 0 2.5% 0 2.5%;
  }
}
.all-projects-container h2 {
  font-size: 3rem;
  font-weight: 800;
  padding-top: 0;
  margin: 0 5% 0 5%;
  color: #9ac6c9;
  text-shadow: 0 2px 5px rgba(246, 73, 167, 0.6);
}
.all-projects-container p {
  font-size: 1.7rem;
  margin: 0 5% 0 5%;
  color: #9ac6c9;
  line-height: 1.8;
}
.all-projects-container .projects-subtitle,
.all-projects-container .projects-tagline {
  margin-bottom: 20px;
}
.all-projects-container .project-container {
  width: 90%;
  margin: 0 5% 0 5%;
  border: 1px solid #9ac6c9;
  display: flex;
}
.all-projects-container .project-container .project-text-container {
  width: 55%;
  border-right: 1px solid #9ac6c9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.all-projects-container .project-container .project-text-container .languages {
  color: #f649a7;
  text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
  text-align: center;
}
.all-projects-container .project-container .project-text-container .button-container {
  display: flex;
  justify-content: space-between;
  margin: 0 5% 0 5%;
}
.all-projects-container .project-container .project-text-container .button-container button {
  width: 47.5%;
  height: 50px;
  font-size: 1.7rem;
  color: #9ac6c9;
  background: #242840;
  border: 1px dashed #9ac6c9;
  text-shadow: 0 2px 5px rgba(246, 73, 167, 0.6);
  cursor: pointer;
}
.all-projects-container .project-container .project-text-container .button-container :hover {
  color: #f649a7;
  text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
  border: 1px dashed #f649a7;
}
.all-projects-container .project-container .project-img-container {
  width: 45%;
}
@media (max-width: 1200px) {
  .all-projects-container .project-container .project-img-container {
    padding: 50px 0 50px 0;
  }
}
.all-projects-container .project-container .project-img-container img {
  width: 95%;
  margin: 2.5% 2.5% 2.5% 2.5%;
}
.contact-container {
  width: 90%;
  margin: 200px auto 200px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.contact-container .contact-left {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-container .contact-left h2.contact-subtitle {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 0px;
}
.contact-container .contact-left p {
  margin-left: 0;
  width: 100%;
}
.contact-container .contact-left a {
  text-decoration: none;
}
.contact-container .contact-left .social-link:hover {
  color: #f649a7;
  text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
}
.contact-container .contact-right {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-container .contact-right form {
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: 2rem;
  color: #9ac6c9;
  font-weight: normal;
  cursor: default;
}
.contact-container .contact-right form input,
.contact-container .contact-right form textarea {
  padding-bottom: 2rem;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  color: #3f3f67;
  font-family: "IBM Plex Mono";
}
.contact-container .contact-right form .button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact-container .contact-right form .button-container .button {
  text-align: center;
}
.contact-container .contact-right form .button-container input[type="button"],
.contact-container .contact-right form .button-container input[type="submit"],
.contact-container .contact-right form .button-container input[type="reset"] {
  height: 100%;
  font-size: 1.7rem;
  color: #9ac6c9;
  background: #242840;
  border: 1px dashed #9ac6c9;
  text-shadow: 0 2px 5px rgba(246, 73, 167, 0.6);
  cursor: pointer;
  text-align: center;
  padding: 2.5% 17.5% 2.5% 17.5%;
}
.contact-container .contact-right form .button-container input[type="button"]:hover,
.contact-container .contact-right form .button-container input[type="submit"]:hover,
.contact-container .contact-right form .button-container input[type="reset"]:hover {
  color: #f649a7;
  text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
  border: 1px dashed #f649a7;
  background: #242840;
}
footer {
  height: 8vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242840;
  border-top: 1px dashed #9ac5c9;
  border-bottom: 1px dashed #9ac5c9;
}
footer p {
  height: 100%;
  color: #9ac6c9;
  border-left: 1px dashed #9ac5c9;
  border-right: 1px dashed #9ac5c9;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
}
