@import "variables.less";
@import "blog.less";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  // font: initial;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "IBM Plex Mono", "monospace", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #242840;

  @media @tablet {
    width: 800px;
    justify-content: center;
  }

  @media @mobile {
    width: 500px;
    justify-content: center;
  }

  a,
  p {
    font-size: 1.6rem;
  }
}

header.h-nav-toolbar {
  height: 8vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-color: #242840;
  border: 1px dashed #9ac5c9;

  h1 {
    width: 28%;
    text-decoration: none;
    color: #f649a7;
    text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
    font-weight: bold;
    font-size: 3.2rem;
    margin-left: 5%;
  }

  nav.h-nav-links {
    width: 33%;
    display: flex;
    justify-content: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #f649a7;
      text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
      font-weight: bold;
      border-left: 1px dashed #9ac5c9;
      height: 8vh;
      width: 100px;
    }

    a:last-of-type {
      border-right: 1px dashed #9ac5c9;
    }
  }

  nav.h-social-links {
    width: 28%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: #f649a7;
      text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
      font-weight: bold;
      padding-left: 20px;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.above-fold-intro-container {
  height: 91vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  // border: 1px solid red;

  .left-wrapper {
    width: 100%;
  }

  .af-left-cont-upper-lower {
    width: 100%;
    height: 13%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    align-items: center;

    p {
      font-size: 3rem;
      font-style: italic;
      color: #9ac6c9;
      margin-left: 7.5%;
      // margin-top: 1%;
    }
  }

  .af-left-cont-main {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .text-container,
    .shapes-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 2.5%;
    }

    .text-container {
      position: absolute;
      z-index: 1;
    }

    .shapes-container {
      position: absolute;
      z-index: 0;
    }

    .chris-container,
    .jones-container {
      display: flex;
      justify-content: space-between;
      height: 200px;
    }

    .chris,
    .jones {
      color: #f649a7;
      font-size: 12rem;
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .letter-c,
    .letter-h,
    .letter-r,
    .letter-i,
    .letter-j,
    .letter-o,
    .letter-n,
    .letter-e,
    .letter-s.chris {
      text-shadow: 8px 8px 0 #3c52d1;
    }

    .letter-s.jones {
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 40 40" xml:space="preserve" height="8px" width="8px"><g ><circle r="12" cx="12" cy="12" fill="%23EC2F95"/></g></svg>');
      color: transparent;
      -webkit-background-clip: text;
    }

    .circle {
      border: 10px dashed #3c51d1;
      border-radius: 50%;
    }

    .square {
      border: 10px solid #3c51d1;
      box-shadow: 10px 10px 0 0px #9ac6c9;
    }

    .blob-one,
    .blob-two {
      background-color: #9ac6c9;
      border-radius: 33%;
      position: relative;
    }

    .blob-three {
      position: relative;
      left: -200px;
      top: 125px;
      background-color: #9ac6c9;
    }
  }

  .af-right-cont {
    height: 66%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.5%;
    margin-top: 2.55%;
    margin-bottom: 2.5%;

    img {
      height: 75%;
      border-radius: 50%;
    }
  }
}

.about-container {
  width: 1400px;
  // height: 1400px;

  h2 {
    font-size: 3rem;
    font-weight: 800;
    padding-top: 40px;
    margin: 0 5% 20px 5%;
    color: #9ac6c9;
    text-shadow: 0 2px 5px rgba(246, 73, 167, 0.6);
  }

  p {
    font-size: 1.7rem;
    margin: 0 5% 20px 5%;
    color: #9ac6c9;
    line-height: 1.8;
    margin-bottom: 80px;
  }
}

.all-projects-container {
  width: 1400px;
  // height: 1400px;
  // border: 1px solid red;

  h2 {
    font-size: 3rem;
    font-weight: 800;
    padding-top: 40px;
    margin: 0 5% 20px 5%;
    color: #9ac6c9;
    text-shadow: 0 2px 5px rgba(246, 73, 167, 0.6);
    // border: 1px solid yellow;
  }

  p {
    font-size: 1.7rem;
    margin: 0 5% 20px 5%;
    color: #9ac6c9;
    line-height: 1.8;
    // border: 1px solid pink;
  }

  .project-container {
    width: 90%;
    // height: 500px;
    margin: 0 5% 30px 5%;
    border: 1px solid #9ac6c9;
    display: flex;

    .project-text-container {
      width: 55%;
      border-right: 1px solid #9ac6c9;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .languages {
        color: rgb(246, 73, 167);
        text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
        text-align: center;
      }

      .button-container {
        display: flex;
        justify-content: space-between;
        margin: 0 5% 0 5%;

        button {
          width: 47.5%;
          height: 50px;
          font-size: 1.7rem;
          color: #9ac6c9;
          background: #242840;
          border: 1px dashed #9ac6c9;
          text-shadow: 0 2px 5px rgba(246, 73, 167, 0.6);
          cursor: pointer;
        }

        :hover {
          color: #f649a7;
          text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
          border: 1px dashed #f649a7;
        }
      }
    }

    .project-img-container {
      width: 45%;

      img {
        width: 95%;
        margin: 2.5% 2.5% 2.5% 2.5%;
      }
    }
  }
}

.contact-container {
  width: 90%;
  height: 500px;
  margin: 60px auto 60px auto;
  // border: 1px solid red;
  display: flex;
  justify-content: center;

  .contact-left {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 30px;
    }

    p {
      margin-left: 0;
    }

    a {
      text-decoration: none;
    }

    .social-link:hover {
      color: rgb(246, 73, 167);
      text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
    }
  }

  .contact-right {
    width: 40%;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      display: flex;
      width: 75%;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      font-size: 2rem;
      color: #9ac6c9;
      // padding-bottom: 20px;
      font-weight: normal;
      cursor: default;
      // border: 1px solid brown;
      // margin-bottom: 60px;

      input,
      textarea {
        padding-bottom: 2rem;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 400;
        display: flex;
        color: #3f3f67;
        // border: 1px solid lightgray;
        font-family: "IBM Plex Mono";
      }

      input[type="button"],
      input[type="submit"],
      input[type="reset"] {
        // width: 47.5%;
        height: 50px;
        font-size: 1.7rem;
        color: #9ac6c9;
        background: #242840;
        border: 1px dashed #9ac6c9;
        text-shadow: 0 2px 5px rgba(246, 73, 167, 0.6);
        cursor: pointer;
        text-align: center;
        padding-left: 19%;
        padding-right: 19%;
      }

      input[type="button"]:hover,
      input[type="submit"]:hover,
      input[type="reset"]:hover {
        color: #f649a7;
        text-shadow: 0 2px 3px rgba(246, 73, 167, 0.5);
        // border: 1px dashed #f649a7;
        background: #242840;
      }

      .button-container {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        width: 100%;

        .button {
          text-align: center;
        }
      }
    }
  }
}
